[submodule "OPUIKit/opextensionkit"]
	path = OPUIKit/opextensionkit
	url = git@github.com:mbrandonw/OPExtensionKit.git
[submodule "OPUIKit/OPQuartzKit"]
	path = OPUIKit/OPQuartzKit
	url = git@github.com:mbrandonw/OPQuartzKit.git
[submodule "OPUIKit/MAObjCRuntime"]
	path = OPUIKit/MAObjCRuntime
	url = https://github.com/mikeash/MAObjCRuntime.git
